html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  display: table;
  margin: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

/* .content {
  margin: auto;
  text-align: center;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
}

button {
  width: 100px;
  height: 80px;
  font-size: 40px;
  border: 1px solid black;
  border-radius: 5px;
}

#display {
  background-color: rgb(166, 225, 255);
  border: 1px solid black;
  grid-column: 1 / -1;
  height: 68px;
  text-align: end;
  font-size: 57px;
  padding: 5px;
}

.num {
  background-color: orange;
}

.op {
  background-color: greenyellow;
}

#on-off {
  background-color: rgba(255, 0, 0, 0.76);
}

#all-clear {
  background-color: rgb(106, 106, 255);
}

#clear {
  background-color: rgb(106, 106, 255);
}

#decimal {
  background-color: orange;
}

#equal {
  background-color: rgb(1, 182, 1);
}

#plus-minus {
  background-color: greenyellow;
}