html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  display: table;
  margin: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

button {
  width: 100px;
  height: 100px;
  font-size: xx-large;
  background-color: rgb(236, 203, 229);
  border: 1px solid black;
}

#display {
  background-color: rgb(166, 225, 255);
  border: 1px solid black;
  grid-column: 1 / -1;
  height: 40px;
  text-align: end;
  font-size: xx-large;
  padding: 29px;
  padding-right: 5px;
  padding-left: 5px;
}

.clicked {
  background-color: rgb(247, 142, 224);
}